/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Biryani&family=Calistoga&display=swap");

body {
  margin: 0;
}

/* the left and right after position anchers the two ends so it stretches across */

header {
  position: fixed;
  right: 0;
  left: 0;
  padding: 10px;
  background-color: #f1efef;
}

.nav-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  font-size: 18px;
}

.nav-section .brand {
  display: block;
  width: 150px;
  height: 100%;
}

.nav-section > a {
  text-decoration: none;
  font-family: "Calistoga";
  color: #14281d;
  position: relative;
}

/* how you generate content with CSS (using before and after helps you NOT to liter your code */
.nav-section > a:before {
  width: 0;
  transition: width 250ms ease;
  display: block;
  /* content "" is a hack to tell the browser to generate an element */
  content: "";
  position: absolute;
  bottom: -4px;
}

.nav-section > a:hover::before {
  border-bottom: 2px solid #14281d;
  width: 100%;
}
/* end fancy underline */

.nav-section .header-icon img {
  height: 1.5em;
  width: 1.5em;
}

.nav-section .header-icon:hover {
  transform: scale(1.2);
}
