/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Biryani&family=Calistoga&display=swap");

body {
  margin: 0;
  padding-top: 74px;
  background-color: #14281d;
}

h1 {
  font-family: "Calistoga";
  font-weight: 400;
  font-size: 48px;
}

h2 {
  font-family: "Calistoga";
  font-weight: 400;
  font-size: 36px;
}

h3 {
  font-family: "Calistoga";
  font-weight: 400;
  font-size: 24px;
}

h4 {
  font-family: "Calistoga";
  font-weight: 400;
  font-size: 20px;
}

h5 {
  font-family: "Calistoga";
  font-weight: 400;
  font-size: 28px;
  margin: 4px;
}

h6 {
  font-family: "Calistoga";
  font-weight: 300;
  font-size: 14px;
  margin: 0;
}

p {
  font-family: "Biryani";
}

table {
  color: inherit;
  font-family: "Biryani";
}

#store-hours td:nth-child(2) {
  padding-left: 16px;
}

button {
  display: block;
  background-color: #c59407;
  border: 1px solid #9f7703;
  color: #f1efef;
  font-family: "Calistoga";
  font-size: 18px;
  padding: 8px 24px;
  border-radius: 2em;
  box-shadow: 1px 1px 4px 0 #555;
  margin-left: auto;
  min-width: 130px;
}

a {
  color: #f1efef;
}

/* example of helper class */
.grid-column-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.grid-column-two img {
  width: 100%;
}

.page-width {
  max-width: 1440px;
  margin: 0 auto;
}

.page-background-light {
  background-color: #f1efef;
}

.padding-large {
  padding: 48px;
}

/* BEGIN NAV BAR */
/* the left and right after position anchers the two ends so it stretches across */
header {
  position: fixed;
  z-index: 9000;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px;
  box-sizing: border-box;
  height: 74px;
  font-family: "Calistoga";
  background-color: #f1efef;
}

header a {
  text-decoration: none;
}

.nav-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  font-size: 18px;
}

.nav-section .brand {
  display: block;
  width: 150px;
  height: 100%;
}

.nav-section > a {
  color: #14281d;
  position: relative;
}

/* how you generate content with CSS (using before and after helps you NOT to liter your code */
.nav-section > a:before {
  width: 0;
  transition: width 250ms ease;
  display: block;
  /* content "" is a hack to tell the browser to generate an element */
  content: "";
  position: absolute;
  bottom: -4px;
}

.nav-section > a:hover::before {
  border-bottom: 2px solid #14281d;
  width: 100%;
}
/* end fancy underline */

.nav-section .header-icon img {
  height: 1.5em;
  width: 1.5em;
}

.nav-section .header-icon:hover {
  transform: scale(1.2);
}
/* END NAV BAR */
/* NAV BAR MOBILE VERSION */
#mobile-nav-open {
  display: none;
}

#mobile-nav-drawer {
  display: none;
}

.nav-section-mobile {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  background-color: #14281d;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 74px;
  min-width: 60vw;
  z-index: 400;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  font-family: "Calistoga";
}
.nav-section-mobile a {
  width: 100%;
  padding: 16px;
  font-size: 20px;
  text-decoration: none;
}
/* END NAV BAR MOBILE VERSION */
/* BEGIN LANDING PAGE */
#landing-page {
  position: relative;
  height: 60vh;
}

#landing-page .landing-img {
  height: 100%;
  margin: 0 auto;
  background-image: url(./resources/images/black_estate_vineyard.jpg);
  background-size: cover;
  background-position: center;
  filter: brightness(0.6);
}

#landing-page .tagline {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  right: 0;
  bottom: 20px;
  left: 0;
  color: #f1efef;
  font-family: "Calistoga";
  font-size: 36px;
  z-index: 1;
}

#landing-page .tagline .award-circle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 0 0 auto;
  padding: 16px;
  box-sizing: border-box;
  border: 3px solid #f1efef;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  font-size: 0.5em;
}
/* END LANDING PAGE */
/* START OUR VINEYARDS */
#our-vineyards {
  text-align: center;
  color: #f1efef;
}
#our-vineyards .vineyards-grid {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin: 0 auto;
}

.vineyard-img {
  flex: 1 1 0;
}
.vineyard-img img {
  width: 100%;
  transition: transform 250ms ease;
}
.vineyard-img img:hover {
  transform: scale(1.05);
}
/* END OUR VINEYARD */
/* START SHOP */
#shop-options {
  text-align: center;
  color: #f1efef;
}
#shop-options .shop-grid {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin: 0 auto;
}
#shop-options img {
  width: 100%;
  aspect-ratio: 1;
  transition: transform 250ms ease;
}

#shop-options .shop-img {
  flex: 1 1 0;
}

.shop-img img:hover {
  transform: scale(1.05);
}
/* END SHOP */
/* FOOTER START */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #14281d;
  padding: 16px;
  color: #f1efef;
}
footer h4 {
  margin: 0;
}

#store-hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
  gap: 16px;
  font-family: "Calistoga";
}

#store-hours .flex-week {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

#store-hours .days .hours {
  display: flex;
  flex-direction: row;
}

#join-newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 1;
  gap: 16px;
}

#join-newsletter button {
  display: block;
  margin: 0 auto;
}

.input-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.input-fields input {
  min-width: 0;
}

.input-fields .email {
  grid-column: span 2;
}

#contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
}

#contact-us h4 {
  margin-bottom: 16px;
}

#contact-us p {
  margin: 0;
}

#contact-us .contact-footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#other-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Calistoga";
  font-size: 20px;
  padding-right: 75px;
}

#other-links .social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
/* FOOTER END */

@media (max-width: 991px) {
  header .nav-section > a {
    display: none;
  }

  header .nav-section .logo-brand {
    margin-right: auto;
  }
  /* code for displaying the drawer menu */
  header .nav-section #mobile-nav-open {
    display: block;
  }
  #mobile-nav-drawer:checked + .nav-section-mobile {
    display: flex;
    transform: translateX(0);
  }
  /* end code for displaying the drawer menu */
  #landing-page {
    height: 60vh;
  }

  #landing-page .tagline {
    flex-direction: column;
    text-align: center;
    font-size: 24px;
  }

  #landing-page .tagline .award-circle {
    display: none;
  }

  #our-vineyards .vineyards-grid,
  #shop-options .shop-grid {
    flex-direction: column;
    gap: 0;
  }
  .grid-column-two {
    grid-template-columns: 1fr;
    gap: 0;
  }

  #come-visit button,
  #become-member button {
    margin-right: auto;
    margin-left: auto;
  }

  #come-visit {
    padding: 0;
  }

  #come-visit .visit-blurb {
    order: 2;
    padding: 16px;
  }

  #come-visit .image-visit-us {
    order: 1;
  }

  #become-member {
    padding: 0;
  }

  #become-member .become-member-blurb {
    padding: 16px;
  }

  footer {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

/* SHOP PAGE CSS */
#shop-wine-page {
  height: 60vh;
  color: #14281d;
}

#shop-wine-page .shop-landing-img {
  height: 100%;
  margin: 0 auto;
  background-image: url(./resources/images/shop-landing-img.jpeg);
  background-size: cover;
  background-position: center;
}

#shop-page-options .shop-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
  padding: 48px 0 16px;
  color: #f1efef;
  font-family: "Calistoga";
  font-size: 32px;
}

#shop-page-options p {
  text-align: center;
  max-width: 750px;
  margin: 0 auto;
  color: #f1efef;
  padding-bottom: 48px;
}

#our-wine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #f1efef;
  max-width: 1500px;
  margin: 0 auto;
}

#our-wine .wine-types {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

#wine-grid .wine-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  padding: 32px 0 32px;
  max-width: 1500px;
  background-color: #f1efef;
}

.wine-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  font-size: 14px;
}

#wine-grid .wine-image{
  position: relative;
}

#wine-grid .wine-card img{
  max-height: 400px;
}

#wine-grid .wine-glass{
  position: absolute;
  bottom: 0;
  left: calc(100% + 20px);
}


#wine-grid .wine-options .wine-card a {
  color: #14281d;
  font-family: "Calistoga";
  font-size: 18px;
  padding-bottom: 24px;
}

#wine-grid .wine-options .ca-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

#wine-grid .wine-options input {
  max-width: 50px;
}

#wine-grid .wine-options button {
  min-width: 80px;
  padding: 6px 14px;
  font-size: 14px;
}
